.products-cover {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 36px;
  width: 100%;
  height: 588px;
  background-color: $grayscale-colorF;
  text-align: center;
}

.header-title {
  .header-title-items {
    line-height: 50px;
    h1 {
      color: #fff;
      font-size: 50px;
      font-family: $opens-sans-light;
      strong {
        font-size: 80px;
        font-family: $open-sans-extrabold;
        line-height: 100%;
        display: block;
        color: #fff;
      }
    }
  }
  h2 {
    font-size: 25px;
    color: #fff;
    font-family: $opens-sans-light;
  }
  .header-buttons {
    margin-top: 60px;
    .learn-now {
      padding: 12px 33px 12px 33px;
      font-size: 20px;
      color: #323232;
      margin-right: 20px;
      line-height: 26px;
    }
    .get-now {
      background-image: -webkit-linear-gradient(41deg, #B160FF 0%, #FD0380 87%);
      background-image: -moz-linear-gradient(41deg, #B160FF 0%, #FD0380 87%);
      background-image: -o-linear-gradient(41deg, #B160FF 0%, #FD0380 87%);
      background-image: linear-gradient(41deg, #B160FF 0%, #FD0380 87%);
      border-radius: 100px;
      border: none;
      color: #fff;
      padding: 12px 46.5px 12px 46.5px;
      font-size: 20px;
      line-height: 26px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: 100px;
      }
      &:hover {
        &:before {
          background: rgba(0, 0, 0, 0.1);
          @include transition(all 0.3s ease-in-out);
        }
      }
    }
  }
}

#products .product:not(:last-child) {
  margin-bottom: 50px;
}

#products h2 {
  font-size: 32px;
  line-height: 44px;
  font-family: $opens-sans-light;
  color: #141414;
  margin: 0 0 10px 0;
  strong {
    font-family: $open-sans-extrabold;
    color: #323232;
  }
}

#products p {
  font-size: 16px;
  line-height: 24px;
  color: #323232;
  font-family: $open-sans;
}

#products .pa-product-logo {
  width: 30%;
}

#products .download-section {
  margin-top: 34px;
  button, a {
    font-family: $open-sans-semibold;
    font-size: 14px;
    line-height: 24px;
  }
  .learn-now {
    position: relative;
    color: #323232;
    padding: 4px 17px;
    width: auto;
    display: inline-block;
    background: transparent;
    border: none;
    margin-right: 12px;
    &:hover {
      &:after {
        opacity: 0.7;
      }
    }
    &:before {
      content: '';
      background: #fff;
      border-radius: 100px;
      position: absolute;
      top: 1px;
      left: 1px;
      right: 1px;
      bottom: 1px;
      z-index: -1;
    }
    &:after {
      content: '';
      position: absolute;
      border-radius: 100px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: -webkit-linear-gradient(-43deg, #B160FF 0%, #FD0380 100%);
      background-image: -moz-linear-gradient(-43deg, #B160FF 0%, #FD0380 100%);
      background-image: -o-linear-gradient(-43deg, #B160FF 0%, #FD0380 100%);
      background-image: linear-gradient(-43deg, #B160FF 0%, #FD0380 100%);
      z-index: -2;
      @include transition(all 0.3s ease-in-out);
    }
  }
  .margin-placeholder {
    width: 111px;
    display: inline-block;
    margin-right: 12px;
  }
  .get-now {
    background-image: -webkit-linear-gradient(-43deg, #B160FF 0%, #FD0380 100%);
    background-image: -moz-linear-gradient(-43deg, #B160FF 0%, #FD0380 100%);
    background-image: -o-linear-gradient(-43deg, #B160FF 0%, #FD0380 100%);
    background-image: linear-gradient(-43deg, #B160FF 0%, #FD0380 100%);
    border-radius: 100px;
    border: none;
    color: #fff;
    padding: 4px 25px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      border-radius: 100px;
    }
    &:hover {
      &:before {
        background: rgba(0, 0, 0, 0.1);
        @include transition(all 0.3s ease-in-out);
      }
    }
  }
}

#products .pa-product-text {
  width: 67%;
  .read-more {
    color: $primary-color2;
    font-size: 16px;
    font-family: $open-sans-semibold;
    line-height: 24px;
    display: inline-block;
    @include transition(all 0.3s ease-in-out);
    &:hover {
      color: $secondary-color2;
    }
  }
}

#picsart-photo-studio {
  .products-cover {
    margin-bottom: 60px;
  }
}

#picsart-photo-studio .picsart-photo-studio-info {
  margin-bottom: 60px;
  overflow: hidden;
  .image {
    max-width: 16%;
    float: left;
    margin-right: 2%;
  }
  .text {
    float: right;
    max-width: 82%;
    h2 {
      font-size: 44px;
      font-family: $opens-sans-light;
      color: #141414;
      margin-bottom: 12px;
      line-height: 100%;
      strong {
        font-family: $open-sans-bold;
        color: #323232;
      }
    }
    p {
      font-family: $open-sans;
      font-size: 16px;
      color: #323232;
      line-height: 24px;
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

#picsart-photo-studio .picsart-photo-studio-video {
  margin-bottom: 60px;
}

#picsart-photo-studio .picsart-photo-studio-users {
  margin-bottom: 44px;
  > h2 {
    text-align: center;
    font-family: $opens-sans-light;
    font-size: 44px;
    color: #323232;
    letter-spacing: 0.5px;
    line-height: 60px;
    strong {
      font-family: $open-sans-bold;
      color: #141414;
    }
  }
  > p {
    text-align: center;
    margin: 8px 0 24px 0;
    font-size: 20px;
    font-family: $open-sans;
    color: #4D4D4F;
    line-height: 26px;
    padding: 0 7px;
  }
  .user-items {
    .user-item {
      width: 330px;
      float: left;
      margin-right: 16px;
      margin-bottom: 16px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
      border-radius: 2px;
      &:nth-child(3n +3) {
        margin-right: 0;
      }
      .user-image {
        width: 100%;
        height: 366px;
      }
      .user-content {
        padding: 12px 21px 16px;
        .user-info {
          font-family: $open-sans;
          border-bottom: 1px solid $grayscale-color3;
          margin-bottom: 12px;
          h2 {
            font-size: 32px;
            color: #323232;
          }
          p {
            margin-top: 6px;
            font-size: 16px;
            color: $grayscale-color2;
            line-height: 24px;
          }
        }
        .user-details {
          .avatar {
            width: 48px;
            float: left;
            img {
              border-radius: 50%;
            }
          }
          .user-name {
            margin-left: 10px;
            float: left;
            h2 {
              font-family: $open-sans-semibold;
              font-size: 16px;
              color: #323232;
              line-height: 22px;
            }
            span.date {
              font-family: $open-sans;
              font-size: 14px;
              color: #8D8D8D;
              line-height: 22px;
            }
          }
        }
      }

    }
  }
}

#picsart-photo-studio .middle-image {
  margin-bottom: 74px;
  height: 680px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

#picsart-photo-studio .picsart-photo-studio-features {
  margin-bottom: 40px;
  h2 {
    font-family: $opens-sans-light;
    font-size: 44px;
    color: #141414;
    line-height: 60px;
    text-align: center;
    margin-bottom: 32px;
    strong {
      font-family: $open-sans-bold;
      color: #323232;
    }
  }
  .features {
    .feature {
      max-width: 504px;
      float: left;
      margin-right: 16px;
      margin-bottom: 16px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
      border-radius: 2px;
      &:nth-child(2n + 2) {
        margin-right: 0;
      }
      .image {
        width: 100%;
        height: 385px;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        .feature-name {
          background: rgba(0, 0, 0, 0.7);
          display: inline-block;
          font-family: $open-sans-extrabold;
          font-size: 32px;
          color: #fff;
          line-height: 44px;
          padding: 0 17px 0 15px;
          position: absolute;
          bottom: 0;
          text-transform: uppercase;
        }
      }
      .feature-info {
        padding: 21px;
        min-height: 218px;
        p {
          font-family: $open-sans;
          font-size: 16px;
          color: #323232;
          line-height: 24px;
        }
      }
    }
  }
}

#picsart-photo-studio .get-now-section {
  background: #FAFAFA;
  border-radius: 4px;
  text-align: center;
  min-height: 287px;
  margin-bottom: 42px;
  .get-now-section-content {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    h2 {
      font-family: $opens-sans-light;
      font-size: 44px;
      color: #323232;
      line-height: 100%;
    }
    .get-now {
      background-image: -webkit-linear-gradient(41deg, #B160FF 0%, #FD0380 87%);
      background-image: -moz-linear-gradient(41deg, #B160FF 0%, #FD0380 87%);
      background-image: -o-linear-gradient(41deg, #B160FF 0%, #FD0380 87%);
      background-image: linear-gradient(41deg, #B160FF 0%, #FD0380 87%);
      border-radius: 100px;
      border: none;
      color: #fff;
      font-family: $open-sans-semibold;
      font-size: 23px;
      line-height: 26px;
      padding: 15px 66px;
      margin-top: 32px;
      position: relative;
      &:hover {
        &:before {
          background: rgba(0, 0, 0, 0.1);
          @include transition(all 0.3s ease-in-out);
        }
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: 100px;
      }
    }
  }
}

#picsart-photo-studio .suggested-apps {
  margin-bottom: 42px;
  > h2 {
    font-family: $opens-sans-light;
    font-size: 24px;
    color: #323232;
    line-height: 34px;
    margin-bottom: 12px;
  }
  .app {
    margin-right: 50px;
    float: left;
    img {
      max-width: 72px;
      display: inline-block;
      vertical-align: middle;
    }
    h3 {
      font-family: $open-sans;
      font-size: 16px;
      color: #323232;
      line-height: 24px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 16px;
    }
  }
}

#picsart-photo-studio .picsart-photo-studio-edit-info {
  h2 {
    font-size: 44px;
    font-family: $opens-sans-light;
    color: #323232;
    text-align: center;
    line-height: 60px;
    strong {
      font-family: $open-sans-extrabold;
      color: #141414;
    }
  }
  p {
    font-family: $open-sans;
    font-size: 16px;
    color: #323232;
    line-height: 24px;
  }
  img {
    margin: 45px 0 48px 0;
  }
  .picsart-photo-studio-video {
    margin-top: 60px;
  }
}

#picsart-photo-studio .pagination {
  margin-bottom: 32px;
  a {
    position: relative;
    color: #323232;
    padding: 4px 17px;
    width: auto;
    display: inline-block;
    background: transparent;
    border: none;
    margin-right: 12px;
    font-family: $open-sans-semibold;
    font-size: 14px;
    line-height: 24px;
    &:before {
      content: '';
      background: #fff;
      border-radius: 100px;
      position: absolute;
      top: 1px;
      left: 1px;
      right: 1px;
      bottom: 1px;
      z-index: -1;
    }
    &:after {
      content: '';
      position: absolute;
      border-radius: 100px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -2;
      @include transition(all 0.3s ease-in-out);
    }
    &:hover {
      &:after {
        opacity: 0.7;
      }
    }
  }
  .back-button {
    float: left;
    &:after {
      background-image: -webkit-linear-gradient(-43deg, #04C5FF 0%, #B160FF 100%);
      background-image: -moz-linear-gradient(-43deg, #04C5FF 0%, #B160FF 100%);
      background-image: -o-linear-gradient(-43deg, #04C5FF 0%, #B160FF 100%);
      background-image: linear-gradient(-43deg, #04C5FF 0%, #B160FF 100%);
    }
  }
  .front-button {
    float: right;
    &:after {
      background-image: -webkit-linear-gradient(-43deg, #B160FF 0%, #FD0380 100%);
      background-image: -moz-linear-gradient(-43deg, #B160FF 0%, #FD0380 100%);
      background-image: -o-linear-gradient(-43deg, #B160FF 0%, #FD0380 100%);
      background-image: linear-gradient(-43deg, #B160FF 0%, #FD0380 100%);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #products .download-section {
    text-align: center;
    .learn-now {
      display: none;
    }
  }
  #picsart-photo-studio .picsart-photo-studio-users .user-items .user-item {
    &:nth-child(3n + 3) {
      margin-right: 16px;
    }
    &:nth-child(2n + 2) {
      margin-right: 0;
    }
  }
  #picsart-photo-studio .picsart-photo-studio-features .features .feature {
    max-width: 49%;
    margin-right: 2%;
  }
  #picsart-photo-studio .suggested-apps .app {
    margin-right: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 958px) {
  .products-cover {
    height: 344px;
  }
}

@media screen and (min-width: 768px) {
  #products {
    padding-top: 50px;
    padding-bottom: 90px;
  }
  .header-title {
    .header-buttons {
      .learn-now {
        background: #fff;
        border: none;
        border-radius: 100px;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          border-radius: 100px;
        }
        &:hover {
          &:before {
            background: rgba(0, 0, 0, 0.1);
            @include transition(all 0.3s ease-in-out);
          }
        }
      }
    }
  }
  #products .pa-product-logo {
    float: left;
  }
  #products .pa-product-text {
    float: right;
  }
}

@media screen and (max-width: 767px) {
  .products-cover {
    height: 216px;
    margin-bottom: 24px;
  }

  .header-title {
    margin-top: 40px;
    text-align: center;
    .header-title-items {
      line-height: 32px;
      max-width: 192px;
      margin: 0 auto;
      h1 {
        font-size: 27px;
        color: #141414;
        strong {
          font-size: 40px;
          color: #323232;
        }
      }
    }
    h2 {
      max-width: 192px;
      margin: 0 auto;
      font-family: $open-sans;
      font-size: 16px;
      color: #323232;
      line-height: 24px;
    }
    .header-buttons {
      margin-top: 20px;
      margin-bottom: 30px;
      .learn-now {
        position: relative;
        font-size: 14px;
        line-height: 24px;
        color: #323232;
        padding: 4px 17px;
        width: auto;
        display: inline-block;
        &:hover {
          &:after {
            opacity: 0.7;
          }
        }
        &:before {
          content: '';
          background: #fff;
          border-radius: 100px;
          position: absolute;
          top: 1px;
          left: 1px;
          right: 1px;
          bottom: 1px;
          z-index: -1;
        }
        &:after {
          content: '';
          position: absolute;
          border-radius: 100px;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: -webkit-linear-gradient(-43deg, #B160FF 0%, #FD0380 100%);
          background-image: -moz-linear-gradient(-43deg, #B160FF 0%, #FD0380 100%);
          background-image: -o-linear-gradient(-43deg, #B160FF 0%, #FD0380 100%);
          background-image: linear-gradient(-43deg, #B160FF 0%, #FD0380 100%);
          z-index: -2;
          @include transition(all 0.3s ease-in-out);
        }
      }
      .get-now {
        font-size: 14px;
        line-height: 24px;
        padding: 7px 27px 6px 27px
      }
    }
  }

  #products .product:not(:last-child) {
    margin-bottom: 32px;
  }

  #products h2 {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 14px;
  }

  #products .pa-product-logo {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    > img {
      max-width: 134px;
      margin: 0 auto;
    }
    .download-section {
      margin-top: 20px;
    }
  }

  #products .download-section .get-now {
    padding: 7px 26px;
  }

  #products .pa-product-text {
    width: 100%;
    .read-more {
      float: right;
      font-size: 14px;
      margin-top: 8px;
    }
  }

  .product .gradient-border {
    margin: 32px auto 0;
    max-width: 250px;
    display: block;
  }

  #picsart-photo-studio .products-cover {
    margin-bottom: 32px;
  }

  #picsart-photo-studio .picsart-photo-studio-info {
    margin-bottom: 30px;
    .text {
      float: none;
      max-width: 100%;
      > h2 {
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        strong {
          display: block;
          font-family: $open-sans-extrabold;
        }
      }
      .image {
        max-width: 140px;
        margin: 14px auto 14px;
        float: none;
      }
    }
  }
  #picsart-photo-studio .picsart-photo-studio-video {
    margin-bottom: 30px;
  }
  #picsart-photo-studio .picsart-photo-studio-users {
    margin-bottom: 32px;
    > h2 {
      text-align: left;
      font-size: 26px;
      line-height: 32px;
      strong {
        display: block;
      }
    }
    > p {
      text-align: left;
      padding: 0;
      margin: 10px 0 32px 0;
      font-size: 16px;
    }
    .user-items {
      .user-item {
        width: 100%;
        float: none;
        margin-right: 0;
        .user-content {
          .user-info {
            h2 {
              font-size: 26px;
            }
            p {
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
  #picsart-photo-studio .middle-image {
    height: 216px;
    margin-bottom: 32px;
  }
  #picsart-photo-studio .picsart-photo-studio-features {
    margin-bottom: 30px;
    h2 {
      text-align: left;
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 16px;
    }
    .features {
      .feature {
        max-width: 100%;
        float: none;
        box-shadow: none;
        .image {
          height: 217px;
          .feature-name{
            right: 0;
            left: 0;
            font-size: 20px;
            padding: 0 0 0 8px;
          }
        }
        .feature-info {
          padding: 10px 0;
          min-height: auto;
        }
      }
    }
  }
  #picsart-photo-studio .get-now-section {
    min-height: 390px;
    margin-bottom: 32px;
    .get-now-section-content {
      width: 100%;
      h2 {
        margin-bottom: 24px;
        line-height: 60px;
      }
      .get-now {
        display: block;
        width: 200px;
        margin: 24px auto 0;
        padding: 12px 0;
      }
    }
  }
  #picsart-photo-studio .suggested-apps {
    > h2 {
      text-align: center;
      margin: 0;
    }
    .app {
      max-width: 250px;
      margin: 0 auto;
      float: none;
      text-align: center;
      border-bottom: 1px solid;
      margin-top: 32px;
      img {
        display: block;
        margin: 0 auto;
        &.gradient_border {
          max-width: 100%;
          width: 100%;
          height: 1px;
        }
      }
      h3 {
        margin: 5px 0 32px 0;
      }
    }
  }
  #picsart-photo-studio .picsart-photo-studio-edit-info {
    h2 {
      font-size: 26px;
      line-height: 32px;
      text-align: left;
    }
    img {
      margin: 17px 0 28px;
    }
    .picsart-photo-studio-video {
      margin-top: 30px;
    }
  }
}