.basic-layout .text-container {
  padding-top: 25px;
  overflow: hidden;
}

.basic-layout .text {
  max-width: 70%;
  float: left;
}

.apps-single-post .basic-layout .text {
  max-width: 100%;
  float: none;
}

.basic-layout .text img.alignleft {
  float: left;
  margin: 12px 30px 0 0;
}

.basic-layout .text img.alignright {
  float: right;
  margin: 12px 0 0 30px;
}

.basic-layout .sidebar, .frontpage-sidebar {
  float: right;
  max-width: 25%;
}

.basic-layout .sidebar .sidbar-title, .frontpage-sidebar .sidbar-title {
  background: $primary-color1;
  color: $grayscale-colorF;
  padding: 5px 0;
  font-family: $open-sans;
  text-align: center;
  margin: 12px 0 15px 0;
}

.basic-layout .sidebar .item, .frontpage-sidebar .item {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #888;
}

.basic-layout .sidebar .item-text, .frontpage-sidebar .item-text {
  margin: 5px 0 10px;
}

.basic-layout .sidebar .item-text a, .frontpage-sidebar .item-text a {
  font-family: $open-sans;
  color: #888;
  font-size: 18px;
}

.basic-layout .sidebar .item-text a:hover, .frontpage-sidebar .item-text a:hover {
  color: $primary-color1;
}

.basic-layout .sidebar .item-desc .frontpage-sidebar .item-desc {
  font-size: 13px;
}

@media only screen and (max-width: 1200px) {
  .basic-layout .sidebar, .frontpage-sidebar {
    float: none;
    max-width: 100%;
  }
  .basic-layout .text, .main-page .main-page-content {
    float: none;
    max-width: 100%;
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  .basic-layout .text p {
    font-size: 15px;
  }
}