.main-page .about, .frontpage-sidebar {
  padding-top: 36px;
}

.main-page .clipart-container {
  padding: 36px 0;
  clear: both;
}

.post .pa-store-buttons {
  text-align: center;
  width: 760px;
  margin: 0 auto;
}

.post_header {
  position: relative;
  height: 285px;
  overflow: hidden;
}

.post_header video, .mobile-header-img img {
  width: 100%;
  max-width: 100%;
  @include border-box;
  vertical-align: middle;
}

.post_header .title-holder {
  text-align: left;
  position: absolute;
  margin: auto;
  max-height: 100%;
  top: 50%;
  left: 50%;
  height: auto;
  @include transform(translateX(-50%) translateY(-50%));
}

.get-package {
  text-transform: uppercase;
  @include border-radius(6px);
  height: 60px;
  padding: 0 23px;
  line-height: 60px !important;
  font-size: 18px !important;
  font-family: $open-sans !important;
  margin-top: 36px;
  @include box-shadow(0 10px 20px 0 rgba(0, 0, 0, .2));
  transition: background ease-in-out 130ms;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  cursor: pointer;
  color: $grayscale-colorF !important;
  background: $primary-color1;
  position: relative;
  vertical-align: middle;
  display: inline-block;
}

.get-package:hover {
  color: $grayscale-colorF;
  background: $secondary-color1;
}

.post .text h2 {
  text-align: center;
  line-height: 48px;
  font-size: 26px;
}

.post .text .post_text > .main-container {
  padding-top: 36px;
  padding-bottom: 35px;
}

.post .text p {
  text-align: justify;
  line-height: 36px;
  margin-top: 26px;
}

.post_gallery {
  background-image: radial-gradient(ellipse, rgba(255, 255, 255, .5) 10%, rgba(255, 183, 24, 0));
  padding: 36px 0 28px;
  width: 100%;
  margin: 0;
}

.post_gallery {
  background-image: radial-gradient(ellipse, rgba(255, 255, 255, .5) 10%, rgba(255, 183, 24, 0));
  padding: 36px 0 28px;
  width: 100%;
  margin: 0;
}

.post_gallery .gallery_container {
  position: relative;
  text-align: center;
}

.post_gallery .gallery_container ul {
  font-size: 0;
  margin: 0;
  width: 100%;
  padding: 0;
  list-style: none;
}

.post_gallery .gallery_container ul .uk-width-1-4 {
  width: -moz-calc(21%);
  width: -webkit-calc(21%);
  width: calc(21%);
  display: inline-block;
  flex: none;
  @include border-box;
  padding: 18px;
  pointer-events: none;
}

.post_gallery .gallery_container ul .uk-width-1-5 {
  width: -moz-calc(17.5%);
  width: -webkit-calc(17.5%);
  width: calc(17.5%);
  display: inline-block;
  flex: none;
  @include border-box;
  padding: 18px;
  pointer-events: none;
}

.post_gallery .gallery_container ul .uk-width-1-6 {
  width: -moz-calc(16.66667%);
  width: -webkit-calc(16.66667%);
  width: calc(16.66667%);
  display: inline-block;
  flex: none;
  @include border-box;
  padding: 18px;
  pointer-events: none;
}

.post_gallery .gallery_container ul .uk-width-1-8 {
  width: -moz-calc(12.5%);
  width: -webkit-calc(12.5%);
  width: calc(12.5%);
  display: inline-block;
  @include border-box;
  padding: 18px;
  pointer-events: none;
}

.post_gallery .gallery_container ul li img {
  width: 100%;
  height: auto;
}

.post_gallery .gallery_container .back-to-category-link {
  color: $grayscale-colorF;
  text-decoration: underline;
  display: block;
  margin: 26px auto 0;
  text-transform: capitalize;
}

.post_gallery.center .gallery_wrapper {
  margin: 0 auto;
}

.basic-layout .title-holder {
  width: 57%;
  left: 20%;
  right: 0;
}

.basic-layout .get-package {
  height: 50px;
  padding: 0 15px;
  line-height: 50px !important;
}

@media only screen and (max-width: 1200px) {
  .post_header video, .mobile-header-img img {
    width: auto;
    max-width: none;
    margin-left: 50%;
    @include transform-translate(-50%);
  }
  .post_gallery .gallery_container ul .width-1-6 {
    width: -moz-calc(16.66667%);
    width: -webkit-calc(16.66667%);
    width: calc(16.66667%)
  }
  .post_gallery .gallery_container ul .uk-width-1-8 {
    width: -moz-calc(16.66667%);
    width: -webkit-calc(16.66667%);
    width: calc(16.66667%)
  }
  .post_header video, .mobile-header-img img {
    width: auto;
    max-width: none;
    margin-left: 50%;
    @include transform-translate(-50%);
  }
}

@media only screen and (max-width: 959px) {
  .main-page .about, .frontpage-sidebar {
    padding-top: 56px;
  }

  .main-page .clipart-container {
    padding: 56px 0;
  }

  .post_gallery .gallery_container ul .width-1-6 {
    width: -moz-calc(16.66667%);
    width: -webkit-calc(16.66667%);
    width: calc(16.66667%)
  }

  .post_gallery .gallery_container ul .uk-width-1-8 {
    width: -moz-calc(16.66667%);
    width: -webkit-calc(16.66667%);
    width: calc(16.66667%)
  }

  .post .text .post_text > .main-container {
    padding-top: 56px;
    padding-bottom: 36px;
  }

  .post .pa-store-buttons {
    width: 100%;
  }

  .basic-layout .title-holder {
    width: 100%;
    left: 52%;
  }
  .basic-layout .header-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .basic-layout .get-package {
    margin-top: 15px;
    height: 40px;
    line-height: 40px !important;
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 767px) {
  .clipart-list {
    font-size: 14px;
  }
  .post_header {
    height: 244px;
  }
  .post_header video, .mobile-header-img img {
    height: 244px;
    @include transform-translate(-55%);
  }
  .main-page .about, .frontpage-sidebar {
    padding-top: 24px;
  }
  .main-page .clipart-container {
    padding: 24px 0;
  }

  .post .text p {
    margin-top: 24px;
  }
  .post_gallery .gallery_container ul .width-1-6 {
    width: -moz-calc(25%);
    width: -webkit-calc(25%);
    width: calc(25%)
  }
  .post_gallery .gallery_container ul .uk-width-1-8 {
    width: -moz-calc(25%);
    width: -webkit-calc(25%);
    width: calc(25%)
  }
  .post_header video, .mobile-header-img img {
    height: 244px;
    @include transform-translate(-55%);
  }
  .post .text .post_text > .main-container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media only screen and (max-width: 479px) {
  .post_header {
    height: 144px;
  }
  .post_header video, .mobile-header-img img {
    height: 144px;
  }
  .post_header video, .mobile-header-img img {
    @include transform-translate(-60%);
  }

  .post_gallery .gallery_container ul .width-1-6 {
    width: -moz-calc(50%);
    width: -webkit-calc(50%);
    width: calc(50%)
  }
  .post_gallery .gallery_container ul .uk-width-1-8 {
    width: -moz-calc(50%);
    width: -webkit-calc(50%);
    width: calc(50%)
  }
  .post .text h2 {
    line-height: 32px;
    font-size: 26px;
  }
  .post .text p {
    font-size: 14px;
  }

  .post_header video, .mobile-header-img img {
    @include transform-translate(-60%);
  }
  .basic-layout .header-img, .basic-layout .post_header {
    height: 140px;
  }
  .basic-layout .post_header .header-img img {
    height: 140px;
  }
}