.collage-about {
  margin-top: 40px;
}
.frames-block {
  margin-top: 69px;
}
.frames-block .frame-block-heading{
  text-align: center;
  color: $primary-color2;
  margin-bottom: 40px;
  font-size: 30px;
}
.frames-block .item {
  margin-bottom: 30px;
  clear: both;
  overflow: hidden;
}
.frames-block .item .item-title {
  margin-bottom: 18px;
}
.frames-block .item .item-title a {
  text-decoration: underline;
  font-size: 19px;
  &:hover {
    color: $primary-color1;
  }
}
.frames-block .item .item-title:hover{
  color: #FF3591;
}
.frames-block .item .item-text{
  width: 75%;
  float: left;
  margin-right: 18px;
  font-size: 14px;
}
.frames-block .item .item-image{
  max-width: 145px;
  float: right;
}
.collage-main-page .frontpage-sidebar {
  padding-top: 38px;
}
.post .related-cliparts {
  margin: 76px 0 30px 0;
}