.post .get_app {
  background-image: radial-gradient(ellipse, rgba(255, 255, 255, .3) 10%, rgba(0, 0, 0, .3));
  position: relative;
  padding: 36px 0;
}

.post .basic-get-app {
  padding: 50px 0;
}

.post .get_app .get_app_container {
  position: relative;
  text-align: center;
}

.post .get_app .get_app_container h3 {
  margin-bottom: 24px;
  line-height: 52px;
  font-size: 44px;
}

.post .basic-get-app .get_app_container h3 {
  font-size: 40px;
}

.post .get_app .get_app_container form {
  margin: 24px auto;
  width: 550px;
}

@media only screen and (max-width: 767px) {
  .post .get_app .get_app_container form {
    width: 100%;
    text-align: center;
  }
}