footer {
  background-color: $grayscale-color1;
  color: $grayscale-colorF;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer .pa-footer-block {
  display: block;
  margin: 0 5% 0 0;
  width: 17.5%;
  float: left;
  padding-top: 20px;
  @include border-box;
  text-align: center
}

footer .pa-footer-block.uk-list {
  margin-bottom: 30px
}

footer .pa-footer-block:last-child {
  width: 26.5%;
  margin-right: 0;
  float: right;
}

footer .pa-footer-block:last-child li {
  margin-bottom: 15px;
  overflow: hidden;
}

footer .pa-footer-block:last-child li:last-child {
  margin-bottom: 0
}

footer li {
  @include border-box;
}

footer li .pa-nav-follow-container a.uk-icon-hover:last-child {
  padding-right: 0 !important
}

footer li .pa-nav-follow-container a.uk-icon-hover:hover {
  color: $primary-color1 !important
}

footer li .pa-nav-follow-container a.uk-icon-hover:before {
  font-size: 16px
}

footer a, footer a:link {
  display: block;
  color: $grayscale-colorF;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

footer a.active, footer a:active, footer a:hover {
  color: $primary-color1;
}

footer .padding-top {
  padding-top: 30px;
}

footer .main-container .pa-store-buttons .apple-store {
  background-image: url(../img/appstore-footer.png);
}

footer .main-container .pa-store-buttons .google-store {
  background-image: url(../img/googleplay-footer.png);
}

footer .no-click {
  pointer-events: none;
}

footer li .follow-us {
  padding: 0;
  color: $grayscale-colorF;
  text-align: left;
  font-size: 14px;
}

footer .main-container .pa-nav-follow-container {
  padding: 0;
  text-align: left;
  margin-top: 10px;
}

footer li .pa-nav-follow-container a.uk-icon-hover {
  color: $grayscale-colorF;
  display: inline-block;
  padding: 0 16px 0 0 !important;
  margin-bottom: 15px;
  float: left;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

footer li .pa-nav-follow-container:hover a.uk-icon-hover:hover {
  color: $primary-color1 !important;
}

footer .download-picsart {
  text-align: left;
  margin-bottom: 15px;
}

footer .pa-store-buttons {
  overflow: hidden;
}

footer .pa-store-buttons a {
  width: 48.7%;
  height: 45px;
  display: inline-block;
  margin: 0 1.3% 0 0;
  vertical-align: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  float: left;
}

footer .apple-store {
  background-image: url(../img/app_store.png);
}

footer .google-store {
  background-image: url(../img/google_play.png);
}

footer li .pa-nav-follow-container {
  padding: 0;
  text-align: left;
  margin-top: 10px
}

.footer-copyright {
  text-align: center;
  color: $grayscale-colorF;
  background-color: $grayscale-color0;
  line-height: 50px;
  clear: both;
  font-family: $open-sans;
  display: block;
}

@media only screen and (max-width: 1200px) {
  footer .pa-footer-block {
    width: 16%
  }
  footer .pa-footer-block:last-child {
    width: 37%
  }
  footer li .pa-nav-follow-container a.uk-icon-hover {
    padding: 0 26px 0 0 !important
  }
}

@media only screen and (max-width: 479px) {
  footer .pa-footer-block {
    width: 50%;
    margin-right: 0
  }
  footer .pa-footer-block:last-child {
    width: 100%;
    text-align: center;
  }
  footer .pa-footer-block:last-child li {
    margin-bottom: 0
  }
  footer li {
    display: block;
    width: 100%;
    float: left;
  }
  footer li .pa-follow-us {
    line-height: 24px;
    padding-left: 0 !important
  }
  footer li .pa-nav-follow-container {
    padding: 0 24px;
    text-align: center
  }
  footer li .pa-nav-follow-container a.uk-icon-hover {
    display: inline-block;
    float: none;
    width: 18%;
    text-align: center;
    padding: 0 !important
  }
  footer a, footer a:link {
    line-height: 30px
  }
  footer .download-picsart {
    padding: 0;
    font-size: 14px;
    line-height: 24px
  }
  footer .pa-store-buttons {
    padding: 0 24px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center
  }
  footer .pa-store-buttons a {
    width: 37.1%;
    margin-right: 6px;
    display: inline-block;
    float: none;
    padding: 0 !important
  }

}