#top-nav {
  height: 60px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background: $grayscale-color6;
  box-sizing: border-box;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  padding: 10px 0;
  z-index: 1005
}

#top-nav {
  @include box-shadow(0 1px 0 0 rgba(0,0,0,0.1));
}

#top-nav .navigation-logo {
  margin-right: 15px;
  width: 100px;
  height: 24px;
  padding-top: 8px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex
}

#top-nav .navigation-logo img.visible {
  @include transition(opacity 100ms ease-in-out);
}

#top-nav .navigation-logo img {
  height: auto;
  width: 114px;
  opacity: 0
}

#top-nav .navigation-logo img.visible {
  opacity: 1;
  height: 24px
}

#top-nav .nav-right-hand {
  width: -moz-calc(100% - 115px);
  width: -webkit-calc(100% - 115px);
  width: calc(100% - 115px);
  height: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex
}

#top-nav .nav-header-menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: auto;
  line-height: 40px;
  padding: 0;
}

#top-nav .submenu {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  height: 44px;
  top: 60px;
  margin: 0;
  border-top: 1px solid #e5e5e5;
  background: $grayscale-colorF;
  @include box-shadow(0 1px 0 0 rgba(0,0,0,0.1));
}

#top-nav .submenu ul {
  width: 100%;
  padding-left: 0
}

#top-nav .submenu ul.c-flexmenu {
  text-align: center
}

#top-nav .submenu ul li {
  display: inline-block
}

#top-nav .default-menu {
  line-height: 40px;
  padding-right: 16px;
  font-family: $open-sans-semibold;
  color: $grayscale-color1;
}

#top-nav .nav-header-menu a {
  padding-left: 16px;
  display: block;
  line-height: 40px;
  white-space: nowrap;
  color: $grayscale-color1;
}

#top-nav .list-item a:hover {
  color: #ff3591
}

#top-nav .list-item.active a,#top-nav .list-item.active span {
  color: $grayscale-color1;
  font-family: opensans-semibold,sans-serif
}

#top-nav .submenu ul li.active a {
  font-family: opensans-semibold,sans-serif
}

#top-nav .searchbox-holder {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0 15px;
  width: 100%;
  height: 100%;
  @media only screen and (max-width: 479px) {
    padding: 0;
  }
}

#top-nav #nav-search-field {
  height: 100%;
  width: 100%;
  margin-top: 1px;
  @include transform(translateY(0));
  @include transition(all .3s ease-out);
  transition-property: width, background
}

#top-nav.floating #nav-search-field {
  height: 54px;
  top: -55px;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 1006;
  background: $grayscale-colorF;
  @include box-shadow(0 1px 0 0 rgba(0,0,0,0.1));
  @include transform(translateY(100%));
  @include transition(transform .3s ease-out);
  position: fixed
}

.phone #top-nav.floating #nav-search-field {
  height: 58px;
}

#top-nav #nav-search-field.active.over-all {
  background: rgba(255,255,255,0.98);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin-top: 0;
  padding: 0;
  @include transition(all .3s ease-out);
  transition-property: width, background;
  @include no-transform();
  z-index: 1000
}

#top-nav #nav-search-field .header-search {
  width: 100%;
  position: relative
}

#top-nav #nav-search-field .modal-closer {
  position: absolute;
  top: 24px;
  width: 17px;
  height: 17px;
  right: 0
}

#top-nav #nav-search-field .modal-closer svg {
  vertical-align: top
}

#top-nav #nav-search-field .header-search label {
  font-size: 14px;
  color: $grayscale-color1;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap
}

#top-nav #nav-search-field.active.over-all label {
  opacity: 1;
  display: inline-block;
  visibility: visible;
  height: auto;
  width: auto;
  margin: 24px 0 37px;
  line-height: 24px;
  font-size: 14px;
  color: $grayscale-color1;
}

#top-nav #nav-search-field .search-input-container {
  height: 100%
}

#top-nav #nav-search-field.active.over-all .search-input-container {
  height: auto
}

input[type=search] {
  font-family: opensans,sans-serif;
  width: 100%;
  margin: 0;
  @include border-radius(2px);
  @include box-shadow(0 3px 1px 3px rgba(0,0,0,0.02));
  @include border-box();
  background-color: $grayscale-colorF;
  border-color: $grayscale-color3;
  color: $grayscale-color1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

#top-nav #nav-search-field .header-search-field {
  height: 39px;
  padding: 8px 60px 8px 24px;
  @include border-radius(100px);
  border: 1px solid rgba(151,151,151,0.3);
  font-size: 14px;
  line-height: 24px;
  @include box-shadow(0 1px 1px 0 rgba(0,0,0,0.04));
}

#top-nav.floating #nav-search-field .header-search-field {
  border: none !important;
  @include no-box-shadow();
  @include border-radius(0);
  height: 54px;
  padding-left: 0
}

#top-nav #nav-search-field.active.over-all .header-search-field {
  border-width: 0 !important;
  height: 60px;
  padding: 0 6px 0 0;
  font-family: opensans-light, sans-serif;
  font-size: 44px;
  line-height: 60px;
  color: $grayscale-color1;
  @include no-box-shadow();
  @include border-radius(0);
  background: 0 0 !important
}

#top-nav #nav-search-field .header-search .input-search-icon {
  color: $grayscale-color1;
  width: 24px;
  height: 20px
}

.search-submit {
  position: absolute;
  top: 10px;
  right: 22px;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0
}

#top-nav.floating #nav-search-field .search-submit {
  top: 17px
}

#top-nav #nav-search-field.active.over-all .search-right-hand {
  display: none
}

.phone #top-nav #nav-search-field input,.tablet #top-nav #nav-search-field input {
  padding-left: 16px
}

#top-nav #nav-search-field .header-search-field:focus,#top-nav #nav-search-field .header-search-field:hover {
  border: 1px solid rgba(151,151,151,0.8) !important;
  outline: none
}

#top-nav.floating #nav-search-field .header-search-field {
  border: none !important;
  @include no-box-shadow();
  @include border-radius(0);
  height: 54px
}

#top-nav .header-menu .list-item {
  width: auto;
  text-align: left;
  position: relative
}

#top-nav .list-item>a, #top-nav .list-item>span {
  line-height: 32px;
  color: $grayscale-color1;
}

#top-nav .header-menu .list-item a,#top-nav .header-menu .list-item span {
  display: block;
  color: #888;
  font-size: 14px;
  padding-left: 0;
  cursor: pointer;
}

#top-nav .header-menu .list-item.active>a, #top-nav .header-menu .list-item:hover>a {
  color: $primary-color1;
}

.dropdown-submenu-opener+.dropdown {
  background: 0 0!important;
  padding-left: 24px!important;
  padding-top: 0!important;
  min-width: 125%!important;
  left: 100%!important;
  top: -12px!important;
  @include no-box-shadow();
}

.dropdown-submenu-opener svg {
  margin-left: 12px;
  float: right;
  display: inline-block;
  height: 26px
}

.phone #top-nav.to-top {
  top: 0
}

.phone #top-nav .navigation-logo,.tablet #top-nav .navigation-logo {
  width: 22px
}

.phone #top-nav .navigation-logo svg {
  height: 24px
}

.phone #top-nav,.tablet #top-nav {
  position: fixed
}

.phone #top-nav .navigation-logo img,.tablet #top-nav .navigation-logo img {
  opacity: 1 !important;
  height: 22px
}

.phone #top-nav .nav-right-hand,.tablet #top-nav .nav-right-hand {
  width: -moz-calc(100% - 37px);
  width: -webkit-calc(100% - 37px);
  width: calc(100% - 37px)
}

.phone #top-nav .pa-sidebar-drawer,.tablet #top-nav .pa-sidebar-drawer {
  width: 30px;
  margin-left: 15px;
  line-height: 44px
}

.phone #top-nav .pa-sidebar-drawer .active-submenu .phone-sidebar {
  left: -100% !important;
  position: absolute
}

#drawer-btn-svg {
  display: flex;
  width: 24px;
  line-height: 40px;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  height: 100%
}

.phone #top-nav .pa-sidebar-drawer.open #more-menu-icon-svg,.tablet #top-nav .pa-sidebar-drawer.open #more-menu-icon-svg {
  stroke: $grayscale-color1;
  fill: $grayscale-color1
}

.dropdown-container .dropdown-opener {
  position: relative;
  z-index: 4
}

.dropdown-container .dropdown {
  min-width: 200%;
  width: auto;
  background: $grayscale-colorF;
  z-index: 2;
  padding: 35px 16px 16px;
  position: absolute;
  left: 0;
  top: -1px;
  @include border-radius(3px 0 3px 3px);
  @include box-shadow(0 3px 5px 0 rgba(0,0,0,0.1));
}

.dropdown-container .dropdown .dropdown-submenu {
  padding: 12px 16px 16px;
  position: relative;
  background: $grayscale-colorF;
  @include border-box;
  @include border-radius(3px 0 3px 3px);
  @include box-shadow(0 3px 5px 0 rgba(0,0,0,.1));
}

.phone .dropdown-container .dropdown,.tablet .dropdown-container .dropdown {
  position: fixed;
  top: 60px;
  margin: 0;
  padding: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  max-width: 100%;
  min-width: 100%;
  @include border-radius(0);
}

.dropdown-container .dropdown.left {
  left: auto;
  right: 0
}

.dropdown-container.open .dropdown {
  height: auto;
  bottom: auto;
  opacity: 1;
  min-width: 155%
}

.phone .dropdown-container.open .dropdown,.tablet .dropdown-container.open .dropdown {
  min-width: 100%;
  height: auto
}

.phone #top-nav .pa-sidebar-drawer .dropdown {
  overflow-y: auto;
  max-height: -moz-calc(100% - 146px);
  max-height: -webkit-calc(100% - 146px);
  max-height: calc(100% - 146px)
}

.phone #top-nav .dropdown-container .dropdown {
  top: 60px
}

.phone .dropdown-container .dropdown>hr {
  margin-top: 0;
  margin-bottom: 0
}

#top-nav .header-menu {
  margin-top: 0;
  padding-top: 40px;
  min-width: 160px
}

#top-nav .header-menu.phone-sidebar {
  padding: 25px 15px 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}

#top-nav .header-menu.phone-sidebar {
  left: 0
}

.phone #top-nav .header-menu.phone-sidebar .list-item {
  text-align: left
}

#top-nav .header-menu.phone-sidebar .list-item a,#top-nav .header-menu.phone-sidebar .list-item span {
  display: inline-block;
  line-height: 44px;
  padding: 0 45px 0 0
}

.phone #top-nav .header-menu.phone-sidebar .list-item a {
  line-height: 40px;
  color: $grayscale-color0;
}

.phone #top-nav .header-menu.phone-sidebar .list-item span {
  color: $grayscale-color0;
}

.hidden {
  display: none !important;
  @include transition(display .5s ease);
}

.phone .submenu-back {
  width: 120px;
  height: 44px;
  float: none;
  margin: 16px 0 11px 15px;
  display: block
}

.phone .submenu-back a,.tablet .submenu-back a {
  height: 100%;
  width: 100%;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center
}

.phone #top-nav .back-to-main-dropdown {
  position: static;
  line-height: 44px;
  margin-top: 16px
}

.phone .slide-submenu ul {
  padding-left: 15px;
  margin-top: 0
}

.phone #top-nav .slide-submenu ul .list-item a,.tablet #top-nav .slide-submenu ul .list-item a {
  line-height: 40px
}

.phone .slide-submenu ul .list-item a {
  padding-right: 0
}

.phone .dropdown-submenu-opener svg,.tablet .dropdown-submenu-opener svg {
  float: none;
  height: auto
}

@media only screen and (max-width: 1200px) {
  #top-nav #nav-search-field.active.over-all .header-search,#top-nav.floating #nav-search-field .search-input-container,.pa-landing-section .header,.pa-standard-container {
    width:100%;
    max-width: 768px
  }
}

@media only screen and (max-width: 959px) {
  #top-nav #nav-search-field .modal-closer {
    right:30px;
    top: -30px
  }
}

@media only screen and (max-width: 479px) {
  #top-nav #nav-search-field.active.over-all .header-search,#top-nav.floating #nav-search-field .search-input-container,.pa-landing-section .header,.pa-standard-container {
    width:100%;
    max-width: 479px
  }

  #top-nav #nav-search-field .modal-closer {
    right: 12px;
    width: 18px;
    height: 18px;
    top: 6px
  }

  #top-nav #nav-search-field.active.over-all .search-input-container {
    width: -moz-calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    margin-top: 11px;
    padding-top: 0
  }

  #top-nav #nav-search-field.active.over-all .header-search-field {
    font-size: 22px;
    height: 30px;
    line-height: 30px;
    border-right-width: 1px !important;
    border-right-color: #d8d8d8
  }
}