.main-page .header-section {
  background-size: cover !important;
  position: relative;
  height: 366px;
  overflow: hidden;
}

.main-page .header-title h1, .post_header h1 {
  color: $grayscale-colorF;
  padding: 0;
  line-height: 150%;
  font-size: 38px;
  font-weight: 700;
}

.main-page li.widget {
  list-style: none;
}

.main-page li.widget .widgettitle {
  text-align: center;
  color: $primary-color2;
  margin-bottom: 36px;
  line-height: 36px;
  font-size: 26px;
}

.main-page .collage-about li.widget .widgettitle {
  font-size: 38px;
  font-weight: 700;
}

.main-page li.widget p {
  margin-top: 24px;
  line-height: 26px;
}

.main-page .clipart-container .clipart-cat-title, .related-cliparts .clipart-cat-title {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 36px;
  color: $primary-color2;
}

.main-page .clipart-container li:not(:first-child) {
  margin-top: 36px;
}

.main-page .clipart-container .clipart-list li, .related-cliparts .clipart-list li {
  position: relative;
  padding-left: 36px;
}

.main-page .clipart-container .clipart-list li:before, .related-cliparts .clipart-list li:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  width: 12px;
  height: 12px;
  @include border-radius(12px);
  background-color: $primary-color1;
}

.main-page .clipart-container .clipart-list li:not(:first-child), .related-cliparts .clipart-list li:not(:first-child) {
  margin-top: 24px;
}

.main-page .cliparts a, .related-cliparts a {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-right: 16px;
  text-decoration: underline;
}

.main-page .cliparts a:hover, .related-cliparts a:hover {
  color: $primary-color1;
}

.main-page .cliparts a:before, .related-cliparts a:before {
  content: '\02212';
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 16px;
  line-height: 24px;
  color: $grayscale-color2;
  text-align: center;
}

.main-page .clipart-container p, .related-cliparts p {
  margin: 0;
  display: inline;
  vertical-align: middle;
  line-height: 36px;
}

.main-page .main-page-content {
  width: 70%;
  padding-right: 50px;
  float: left;
}

.main-page .get_app {
  background-color: #E73EA4;
  position: relative;
  padding: 76px 0;
  background: url(../img/front_img.jpg) center no-repeat;
  background-size: cover;
}

.main-page .get_app .app_container {
  position: relative;
  text-align: center;
}

.main-page .get_app .app_container h3 {
  color: $grayscale-colorF;
  margin-bottom: 24px;
  line-height: 52px;
  font-size: 30px;
  font-family: $open-sans;
}

.main-page .get_app .app_container form {
  margin: 0 auto 20px;
  width: 550px;
}

.main-page .get_app .app_container form label {
  margin: 24px auto 0;
  color: $grayscale-colorF;
  display: block;
}

.main-page .get_app .app_container form .validation-message {
  color: $grayscale-colorF !important;
  height: 24px;
  display: block;
  @include transition(max-height .3s ease-in-out);
  font-size: 14px;
  font-family: $open-sans;
  line-height: 24px;
  margin: 0 auto;
  overflow: hidden;
  text-align: left;
}

@media only screen and (max-width: 1200px) {
  .main-page .header-section {
    height: 425px
  }
}

@media only screen and (max-width: 767px) {
  .main-page .header-section {
    height: 250px
  }
  .main-page .header-title h1, .post_header h1 {
    font-size: 25px;
  }
  .main-page .collage-about li.widget .widgettitle {
    font-size: 25px;
  }
  .main-page li.widget .widgettitle {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 12px;
  }
  .main-page li.widget p {
    font-size: 14px;
  }
  .main-page .get_app .app_container h3 {
    font-size: 22px;
    line-height: 32px;
  }
  .main-page .get_app .app_container form {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 479px) {
  .main-page .header-title h1, .post_header h1 {
    font-size: 18px;
  }
  .main-page .collage-about li.widget .widgettitle {
    font-size: 18px;
  }
}