.btn-rounded-big {
  @include no-box-shadow();
  @include border-radius(2px);
  @include border-box();
  @include prevent-text-select();
  @include transition(color ease-in-out 130ms);
  @include transition(background ease-in-out 130ms);
  font-family: $open-sans;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  border: 1px solid $primary-color1;
  padding: 4px 10px;
  cursor: pointer;
  color: $grayscale-colorF;
  background: $primary-color1;
  position: relative;
  display: inline-block;

  &:hover {
    color: $grayscale-colorF;
    background: $secondary-color1;
    border-color: $secondary-color1;
  }
}

.btn-rounded, .btn-rounded-big {
  padding: 5px 10px;
  @include border-radius(28px);
}

.btn-rounded-big {
  padding: 15px 15px;
  font-size: 18px!important;
  @include border-radius(50px);
}

.not-found-section .logo {
  width: 100px;
  height: 24px;
  background: url(https://picsart.com/images/website-redesign/wordmark/1.png?v1.1.0) no-repeat center;
  background-size: cover;
  display: block;
  margin: 32px 0 40px;
}

.not-found-section .illustration {
  margin: 0 auto;
  display: block;
  width: auto;
  max-width: 100%;
  height: 280px;

  @media (max-height: 768px) {
    max-height: -moz-calc(50vh - 150px);
    max-height: -webkit-calc(50vh - 150px);
    max-height: calc(50vh - 150px);
  }
}

.not-found-section .message {
  margin: 32px auto 0;
  padding: 0;
  display: block;
  text-align: center;
  color: #888;
  opacity: .9;
  font-family: $open-sans-semibold;
  font-size: 20px;
  line-height: 28px;
}

.not-found-section .btn-rounded-big {
  width: 204px;
  margin: 44px auto 0;
  display: block;
  color: $grayscale-colorF!important;

  @media (max-height: 768px) {
    margin-top: 3%;
  }
}

form.large-search {
  width: 100%;
  max-width: 1040px;
  padding-bottom: 15px;
  border-bottom: 1px solid $grayscale-color3;
  overflow: hidden;
  @include transition(border-color ease-in-out .3s);

  @media (max-height: 768px) {
    margin-top: 5%;
  }
}

.not-found-section form {
  margin: 10% 0 32px;
}

form.large-search input {
  width: 100%;
  @include border-box();
  height: 60px;
  line-height: 60px;
  padding: 0;
  font-family: $opens-sans-light;
  font-size: 44px;
  border: none;
  @include border-radius(0);
  -webkit-appearance: none;
  box-shadow: none;
  @include no-box-shadow();
}

.tag-list {
  padding-left: 0;
  margin: 0;
  overflow: hidden;
  height: 64px;

  .item {
    margin: 0 8px 0 0;
    display: inline;

    h3 {
      display: inline;

      a {
        padding: 16px 0;
        @include border-box();
        color: $grayscale-colorF;
        display: inline-block;
        font-family: $open-sans-semibold;
        font-size: 14px;
        line-height: 24px;

        .tag {
          @include border-radius(15px);
          @include border-radius(15px);
          padding: 4px 12px;
          @include border-box();
          background-image: url(..//img/gradient.png);
          background-size: 1056px auto;
          background-position: left;
        }
      }
    }
  }
}

.not-found-section .tag-list {
  margin: 0;
}