#apps_modal {
  .modal-dialog {
    width: 465px;
  }
  .modal-content {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    border: none;
  }
  .modal-header {
    padding: 16px 16px 0;
    border: none;
    .modal-header-container {
      border-bottom: 1px solid $grayscale-color4;
      padding-bottom: 12px;
    }
    button {
      float: right;
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      height: 22px;
      line-height: 0;
      font-size: 30px;
      color: $grayscale-color2;
      img {
        width: 16px;
      }
    }
    .get-the-app-for-free {
      color: #323232;
      font-size: 20px;
      font-family: $open-sans-semibold;
      line-height: 27px;
      height: auto;
      width: auto;
      border: none;
      text-align: left;
      float: left;
    }
  }
  .content {
    padding: 50px 0;
    .get-the-the-app-label {
      max-width: 320px;
      margin: 0 auto 29px;
      font-family: $opens-sans-light;
      color: #323232;
      line-height: 32px;
      font-size: 32px;
      strong {
        color: #323232;
        font-family: $open-sans-extrabold;
      }
    }
    .pa-store-buttons {
      margin-left: 0;
      a {
        width: 112px;
        height: 34px;
        &:not(:last-child) {
          margin: 0 13px 0 0;
        }
        &:last-child {
          margin: 0;
        }
      }
      .apple-store {
        background-image: url(../img/apps/appstore.svg);
      }
      .android-store {
        background-image: url(../img/apps/playstore.svg);
      }
      .windows-store {
        background-image: url(../img/apps/microsoft.svg);
      }
    }
  }
  .c-submit-phone-number {
    padding: 0 16px 10px 16px;
    font-family: $open-sans-semibold;
    font-size: 14px;
    color: #323232;
    background: rgba(250, 250, 250, 0.60);
    border-radius: 1px 1px 8px 8px;
    label {
      font-size: 14px;
      font-family: $open-sans-semibold;
      color: #323232;
      margin-bottom: 18px;
    }
    button {
      position: relative;
      color: #323232;
      width: 100px;
      background: transparent;
      border: none;
      height: 32px;
      line-height: 32px;
      &:hover {
        &:after {
          opacity: 0.7;
        }
      }
      span {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
      &:before {
        content: '';
        background: #fff;
        border-radius: 100px;
        position: absolute;
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        z-index: 1;
      }
      &:after {
        content: '';
        position: absolute;
        border-radius: 100px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: -webkit-linear-gradient(-43deg, #B160FF 0%, #FD0380 100%);
        background-image: -moz-linear-gradient(-43deg, #B160FF 0%, #FD0380 100%);
        background-image: -o-linear-gradient(-43deg, #B160FF 0%, #FD0380 100%);
        background-image: linear-gradient(-43deg, #B160FF 0%, #FD0380 100%);
        z-index: 0;
        @include transition(all 0.3s ease-in-out);
      }
    }
    .intl-tel-input {
      width: 317px;
      input {
        border: none;
        border-bottom: 1px solid $grayscale-color3;
        width: 100%;
        padding-bottom: 4px;
        font-family: $open-sans;
        font-size: 16px;
        line-height: 24px;
        background: transparent;
      }
    }
  }
  &.mobile-modal {
    position: fixed;
    bottom: -100%;
    width: 100%;
    left: 0;
    right: 0;
    @include transition(all ease-in-out .3s);
    z-index: 1005;
    .modal-header{
      padding: 30px 16px 0 0;
    }
    .download-text {
      max-width: 250px;
      margin: 0 auto;
      .get-the-the-app-label {
        font-size: 26px;
      }
    }
    .content {
      padding: 30px 0 70px 0;
      .pa-store-buttons {
        width: -moz-calc(100% + -15px);
        width: -webkit-calc(100% + -15px);
        width: calc(100% + -15px);
      }
    }
  }
}

body.modal-open {
  #apps_modal.mobile-modal {
    bottom: 0;
    background: #fff;
  }
}