.search-results-page {
  padding-bottom: 36px;
}

.results-container {
  margin-top: 36px;
}

h2.search-query {
  margin-bottom: 24px;
  font-size: 30px;
  line-height: 36px;
  color: $primary-color2;
}

ul.results {
  li {
    position: relative;
    padding-left: 36px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 10px;
      width: 12px;
      height: 12px;
      @include border-radius(12px);
      background-color: $primary-color1;
    }
    a {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      padding-right: 16px;
      text-decoration: underline;
      &:before {
        content: '\02212';
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 16px;
        line-height: 24px;
        color: #888;
        text-align: center;
      }
    }
    p {
      margin: 0;
      display: inline;
      vertical-align: middle;
      line-height: 36px;
    }
  }
}