.tags-share-box {
  display: table;
  width: 100%;
  position: relative;
  clear: both;
  border-top: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
  margin-bottom: 25px;
  text-align: center;
  padding: 15px 0;
  .post-share {
    display: inline-block;
    position: static;
    z-index: 10;
    right: 0;
    top: 20px;
    .list-posts-share {
      display: inline-block;
      vertical-align: top;
    }
    a {
      @include transition(all 0.3s);
      font-size: 14px;
      margin: 0 0 0 10px;
      color: #313131;
      display: inline-block;
      vertical-align: top;
      position: relative;
      &:hover {
        .dt-share {
          opacity: 1;
          bottom: -30px;
          visibility: visible;
        }
      }
      .dt-share {
        position: absolute;
        display: inline-block;
        font-size: 9px;
        font-weight: normal;
        background: #313131;
        color: $grayscale-colorF;
        height: 20px;
        white-space: nowrap;
        line-height: 20px;
        text-align: center;
        z-index: 20;
        bottom: -45px;
        width: 60px;
        left: 50%;
        margin-left: -30px;
        opacity: 0;
        visibility: hidden;
        @include transition(all 0.2s ease-in-out);
        &:before {
          position: absolute;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 7px solid #313131;
          content: "";
          top: -7px;
          left: 50%;
          margin-left: -4px;
        }
      }
    }
    .fb-icon {
      color: #3b5998;
      font-size: 25px;
    }
    .twitter-icon {
      color: #55acee;
      font-size: 25px;
    }
    .google-icon {
      color: #dd4b39;
      font-size: 25px;
    }
    .pinterest-icon {
      color: #cb2027;
      font-size: 25px;
    }
    .stumble-icon {
      color: #EB4823;
      font-size: 25px;
    }
    .flipboard-icon {
      width: 25px;
      height: 25px;
    }
    .reddit-icon {
      color: orangered;
      font-size: 25px;
    }
    .linkedin-icon {
      color: #1B85BD;
      font-size: 25px;
    }
  }
}