* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

body, html {
  width: 100%;
  font-family: $open-sans;
  font-size: 14px;
  line-height: 24px;
  color: $grayscale-color2;
}

html.overlay-active {
  overflow: hidden;
  height: 100%;
  position: fixed;
  bottom: 0;
  top: 0;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
  font-family: $open-sans-bold;
}

a, a:link {
  color: $primary-color1;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
}

a:hover, a:active, a:focus {
  color: $secondary-color1;
  text-decoration: none;
}

a:active, a:focus, button:focus, input:focus, textarea:focus, *:focus {
  outline: none !important;
}

a.grey-link {
  color: $grayscale-color2;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

strong {
  font-family: $open-sans-bold;
}

em, strong {
  color: $grayscale-color1;
}

form label, button {
  cursor: pointer;
}

audio, canvas, img, svg, video {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

iframe {
  max-width: 100%;
}

//placeholders
.pa-input::-webkit-input-placeholder,    /* Chrome/Opera/Safari */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: $grayscale-color3
}
.pa-input::-moz-placeholder,    /* Firefox 19+ */
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: $grayscale-color3
}
.pa-input:-ms-input-placeholder,  /* IE 10+ */
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: $grayscale-color3
}
.pa-input:-moz-placeholder,    /* Firefox 18- */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: $grayscale-color3
}

.pa-input:focus, .pa-input:hover, input[type=password]:focus, input[type=password]:hover, input[type=search]:focus, input[type=search]:hover, input[type=submit]:focus, input[type=submit]:hover, input[type=text]:focus, input[type=text]:hover, select:focus, select:hover, textarea:focus, textarea:hover {
  color: $grayscale-color1!important;
  background: $grayscale-colorF!important;
  border-color: $grayscale-color1!important;
}

:focus, a:active, a:focus, button:focus, input:focus, textarea:focus {
  outline: 0!important;
}

[class*=" ic-icon-"], [class*=" icon-"], [class^=ic-icon-], [class^=icon-] {
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  margin: 15px 0;
  border: 0;
  border-top: 1px solid #ddd;
}

[class*=uk-icon-] {
  font-family: $font-awesone;
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #39f;
  color: $grayscale-colorF;
  text-shadow: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.position-relative {
  position: relative;
}

.dropdown-container {
  position: relative;
}

[id$='-tutorials'] {
  clear: both;
  margin-top: 0 !important;
  margin-bottom: 15px;

  @media only screen and (max-width: 479px) {
    margin-bottom: 10px;
  }
}

.main-container,#top-nav #nav-search-field.active.over-all .header-search,#top-nav.floating #nav-search-field .search-input-container {
  width: 1056px;
  margin: 0 auto;
  @include border-box;
}

.main {
  padding-top: 45px;
}

.mobile_main {
  padding-top: 62px;
}

.get_app .get_app_container form label {
  color: $grayscale-colorF;
  display: block;
}

.get_app .get_app_container .validation-message {
  height: 24px;
  display: block;
  @include transition(max-height .3s ease-in-out);
  font-size: 14px;
  font-family: $open-sans;
  line-height: 24px;
  margin: 0 auto;
  overflow: hidden;
  text-align: left;
}

.pa-input {
  width: 448px;
  height: 42px;
  line-height: 42px;
  margin-right: 12px;
  @include box-shadow(0 10px 20px rgba(0, 0, 0, .13));
  border: none;
  vertical-align: middle;
  max-width: 100%;
  padding: 4px 0 4px 12px;
  background: $grayscale-colorF;
  color: #444;
  transition: all .2s linear;
  transition-property: border, background, color, box-shadow, padding;
  @include border-radius(4px);
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  font-size: 15px;
}

.pa-btn {
  border: none;
  height: 42px;
  line-height: 38px;
  @include box-shadow(0 10px 20px rgba(0, 0, 0, .13));
  color: $grayscale-colorF;
  background: $primary-color1;
  cursor: pointer;
  width: 83px;
  font-size: 16px;
  transition: background ease-in-out 130ms;
  font-family: $open-sans;
  display: inline-block;
  vertical-align: middle;
  @include border-radius(3px);
}

.pa-btn:hover {
  background: $secondary-color1;
}

.pa-store-buttons a {
  margin: 6px;
  width: 166px;
  height: 59px;
  display: inline-block;
  vertical-align: top;
  background-size: cover;
  background-position: center;
}

.pa-store-buttons .apple-store {
  background-image: url(../img/app_store.png);
}

.pa-store-buttons .google-store {
  background-image: url(../img/google_play.png);
}

.pa-store-buttons .microsoft-store {
  background-image: url(../img/microsoft.png);
}

a.pa-photo-upload-button .icon-upload-photo {
  width: 68px;
  height: 68px;
  background-color: $primary-color1;
  position: fixed;
  bottom: 25px;
  z-index: 999;
  @include border-radius(50%);
  overflow: hidden;
  @include box-shadow(0 5px 5px rgba(0, 0, 0, .2));
  font-family: $icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.pa-photo-upload-button .icon-upload-photo:before {
  content: '\e917';
  font-size: 28px;
  color: $grayscale-colorF;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 68px;
  text-align: center;
}

a.pa-photo-upload-button .icon-upload-photo:after {
  content: '';
  width: 300%;
  background: linear-gradient(60deg, transparent, transparent, transparent, transparent, $grayscale-colorF, transparent, transparent, transparent);
  height: 100%;
  opacity: .4;
  left: -300%;
  position: absolute;
}

a.pa-photo-upload-button .icon-upload-photo:hover:after {
  left: 100%;
  @include transition(left 1.5s ease-in-out);
}

a.pa-photo-upload-button:active .icon-upload-photo:before {
  font-size: 24px;
  text-shadow: 0 0 1px rgba(0, 0, 0, .2);
  @include box-shadow(inset 0 0 8px rgba(0, 0, 0, .2));
  @include border-radius(50%);
}

.scroll-top-wrapper {
  position: fixed;
  right: 10px;
  bottom: 40px;
  visibility: hidden;
  opacity: 0;
  z-index: 1001;
  width: 30px;
  height: 36px;
  @include border-radius(3px);
}

.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: .8;
}

.scroll-top-wrapper .icon-to-top-page {
  position: relative;
  display: block;
  font-family: $icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scroll-top-wrapper .icon-to-top-page:before {
  content: "\e92a";
  font-size: 24px;
  color: $grayscale-color2;
  display: block;
  position: absolute;
  top: 7px;
  left: 9px;
}

.scroll-top-wrapper:hover .icon-to-top-page:before {
  color: $grayscale-color0;
  @include transition(color .4s ease);
}

.modal {
  top: 37px;
}

.modal-dialog {
  width: 565px;
}

.modal-body {
  padding: 0;
}

.get-the-app-popup .get-the-app-for-free {
  font-weight: 400;
  font-size: 16px;
  line-height: 48px;
  height: 48px;
  color: $grayscale-color1;
  text-align: center;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid $grayscale-color4;
  font-family: $open-sans;
}

.get-the-app-popup h3.get-the-app-for-free {
  color: $primary-color2;
}

.get-the-app-popup .content {
  padding: 24px 18px 29px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.get-the-app-popup form {
  width: 100%;
}

.get-the-app-popup label {
  color: $grayscale-color2;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 24px;
  display: block;
  font-family: $open-sans;
}

.get-the-app-popup input[type=text] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 9px 12px;
  height: 42px;
  line-height: 24px;
  font-size: 16px;
  width: -moz-calc(100% - 102px);
  width: -webkit-calc(100% - 102px);
  width: calc(100% - 102px);
  @include border-radius(3px);
  box-shadow: none;
  max-width: 100%;
  border: 1px solid #ddd;
  background: $grayscale-colorF;
  color: #444;
  -webkit-transition: all .2s linear;
  -webkit-transition-property: border, background, color, box-shadow, padding;
  transition: all .2s linear;
  transition-property: border, background, color, box-shadow, padding;
  font-family: $open-sans;
}

.pa-input:hover {
  color: $grayscale-color1 !important;
  background: $grayscale-colorF !important;
  border-color: $grayscale-color1 !important;
}

.get-the-app-popup button {
  height: 42px;
  line-height: 38px;
}

.get-the-app-popup .validation-message.error, .get-the-app-popup .validation-message.success {
  max-height: 300px;
  height: auto;
}

.get-the-app-popup .validation-message.success {
  color: #80b314
}

.get-the-app-popup .validation-message.error {
  color: #f66036;
}

.get-the-app-popup .validation-message {
  max-height: 24px;
  min-height: 24px;
  display: block;
  @include transition(max-height .3s ease-in-out);
  font-size: 14px;
  line-height: 14px;
  margin: 12px 0 0;
  overflow: hidden;
  font-family: $open-sans;
}

.get-the-app-popup .get-the-the-app-label {
  font-size: 16px;
  line-height: 16px;
  display: block;
  margin: 12px 0;
  text-align: left;
  color: $grayscale-color2;
  font-family: $open-sans;
}

.get-the-app-popup .pa-store-buttons {
  width: -moz-calc(100% + 14px);
  width: -webkit-calc(100% + 14px);
  width: calc(100% + 14px);
  padding: 0;
  margin-left: -7px;
  font-size: 0;
  text-align: center;
}

.get-the-app-popup .pa-store-buttons a {
  width: 167px;
  height: 58px;
}

.pa-static-page {
  margin-bottom: 30px;
}

.pa-inner-page p {
  font-family: $open-sans;
  font-size: 18px;
  line-height: 26px;
  color: $grayscale-color1;
  margin: 0;
}

.pa-static-page p {
  font-size: 16px;
  line-height: 24px;
}

.pa-overlay-mask {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  position: fixed;
  top: 54px;
  left: 0;
  right: 0;
  height: 100%;
  overflow-y: auto;
  background: rgba(0,0,0,.6);
}

.pa-overlay-mask {
  @include transition(opacity 500ms ease-in-out);
}

html.overlay-active .pa-overlay-mask {
  z-index: 1004;
  opacity: .7;
  visibility: visible;
}

@media only screen and (min-width: 1201px) {
  .main-container,#top-nav #nav-search-field.active.over-all .header-search,#top-nav.floating #nav-search-field .search-input-container {
    padding-left:16px;
    padding-right: 16px
  }
  a.pa-photo-upload-button .icon-upload-photo {
    right: 106px;
  }
  .scroll-top-wrapper {
    right: 33px;
  }
}

@media only screen and (max-width: 1200px) {
  .main-container,#top-nav #nav-search-field.active.over-all .header-search,#top-nav.floating #nav-search-field .search-input-container {
    padding: 0 32px;
    width: 100%;
    max-width: 768px
  }
}

@media only screen and (max-width: 959px) {
  .get-package {
    height: 54px;
    line-height: 54px !important;
  }
  a.pa-photo-upload-button .icon-upload-photo {
    right: 62px
  }

}

@media only screen and (max-width: 767px) {
  .pa-input {
    margin-right: 9px;
    width: -moz-calc(100% - 100px);
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px);
  }
  a.pa-photo-upload-button .icon-upload-photo {
    right: 50px;
  }
}

@media only screen and (max-width: 479px) {

  .get-package {
    height: 44px;
    line-height: 44px !important;
  }
  .main-container,#top-nav #nav-search-field.active.over-all .header-search,#top-nav.floating #nav-search-field .search-input-container {
    padding: 0 12px;
    width: 100%;
    max-width: 479px;
  }
  .pa-input {
    width: -moz-calc(100% - 173px);
    width: -webkit-calc(100% - 173px);
    width: calc(100% - 173px);
    font-size: 14px;
  }
  .get_app .get_app_container form label {
    font-size: 14px;
  }
  .pa-store-buttons a {
    width: 116px;
    height: 41px;
    margin: 12px 6px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5), not all, not all {
  .pa-store-buttons .apple-store {
    background-image: url(../img/appstore@2x.png);
  }
  .pa-store-buttons .google-store {
    background-image: url(../img/googleplay@2x.png);
  }
  .pa-store-buttons .microsoft-store {
    background-image: url(../img/microsoft@2x.png);
  }
}