@font-face {
  font-family: icomoon;
  src: url(../fonts/icomoon/icomoon.eot?6840zz);
  src: url(../fonts/icomoon/icomoon.eot?6840zz#iefix) format("embedded-opentype"),
  url(../fonts/icomoon/icomoon.ttf?6840zz) format("truetype"), url(../fonts/icomoon/icomoon.woff?6840zz) format("woff"), url(../fonts/icomoon/icomoon.svg?6840zz#icomoon) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: opensans;
  src: url(../fonts/openSans/opensans-regular.eot?#iefix) format("embedded-opentype"),url(../fonts/openSans/opensans-regular.ttf) format("truetype"),url(../fonts/openSans/opensans-regular.woff) format("woff"),url(../fonts/openSans/opensans-regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: opensans-extrabold;
  src: url(../fonts/openSans/opensans-extrabold.eot?#iefix) format("embedded-opentype"),url(../fonts/openSans/opensans-extrabold.ttf) format("truetype"),url(../fonts/openSans/opensans-extrabold.woff) format("woff"),url(../fonts/openSans/opensans-extrabold.woff) format("woff2"),url(../fonts/openSans/opensans-extrabold.svg#open_extrabold) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: opensans-bold;
  src: url(../fonts/openSans/opensans-bold.eot?#iefix) format("embedded-opentype"),url(../fonts/openSans/opensans-bold.ttf) format("truetype"),url(../fonts/openSans/opensans-bold.woff) format("woff"),url(../fonts/openSans/opensans-bold.woff2) format("woff2"),url(../fonts/openSans/opensans-bold.svg#open_sansbold) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: opensans-semibold;
  src: url(../fonts/openSans/opensans-semibold.eot?#iefix) format("embedded-opentype"),url(../fonts/openSans/opensans-semibold.ttf) format("truetype"),url(../fonts/openSans/opensans-semibold.woff) format("woff"),url(../fonts/openSans/opensans-semibold.woff2) format("woff2"),url(../fonts/openSans/opensans-semibold.svg#open_sanssemibold) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: opensans-light;
  src: url(../fonts/openSans/opensans-semibold.eot?#iefix) format("embedded-opentype"),url(../fonts/openSans/opensans-light.woff) format("woff"),url(../fonts/openSans/opensans-light.woff2) format("woff2"),url(../fonts/openSans/opensans-light.svg#open_sanssemibold) format("svg");
  font-weight: 400;
  font-style: normal
}