.uk-float-left {
  float: left;
}

.uk-float-right {
  float: right;
}

[class*=uk-float-] {
  max-width: 100%;
}

.uk-padding-remove {
  padding: 0 !important;
}

.uk-margin-large-top {
  margin-top: 60px !important;
}

.uk-margin-right {
  margin-right: 15px !important;
}

.uk-margin-bottom {
  margin-right: 15px !important;
}

.uk-margin-top {
  margin-top: 15px !important;
}

.uk-grid {
  @include flex();
  @include flex-wrap-wrap();
  margin: 0;
  padding: 0;
  list-style: none;
  @media (min-width: 1220px) {
    margin-left: -35px;
  }
}

.uk-grid {
  margin-left: -25px;
}

.uk-grid:after, .uk-grid:before {
  content: "";
  display: block;
  overflow: hidden;
}

.uk-grid:after {
  clear: both;
}

.uk-grid > * {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
  margin: 0;
  float: left;
}

.uk-grid > * {
  padding-left: 25px;
}

.uk-grid>*>:last-child {
  margin-bottom: 0;
}

[class*=uk-width] {
  box-sizing: border-box;
  width: 100%;
}

.uk-clearfix:after, .uk-clearfix:before {
  content: "";
}

.uk-clearfix:before {
  display: table-cell;
}

.uk-flex-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.uk-flex-middle {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.uk-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.uk-position-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.uk-position-relative {
  position: relative !important;
}

.uk-container-center {
  margin-left: auto;
  margin-right: auto;
}

.uk-cover-background {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.uk-panel {
  display: block;
  position: relative;
}

.uk-panel:after, .uk-panel:before {
  content: "";
  display: table;
}

.uk-panel:after {
  clear: both;
}

.uk-panel, .uk-panel:hover {
  text-decoration: none;
}

.uk-panel>:not(.uk-panel-title):last-child {
  margin-bottom: 0;
}

.uk-width-1-3, .uk-width-2-6 {
  width: 33.333%;
}

.uk-icon-facebook-f:before, .uk-icon-facebook:before {
  content: "\f09a";
}

.uk-icon-twitter:before {
  content: "\f099";
}

.uk-icon-google-plus:before {
  content: "\f0d5";
}

.uk-icon-youtube:before {
  content: "\f167";
}

.uk-icon-instagram:before {
  content: "\f16d";
}

.uk-icon-rss:before {
  content: "\f09e";
}

.uk-button, .uk-button-group, .uk-form input:not([type=radio]):not([type=checkbox]), .uk-form select {
  vertical-align: middle;
}

.uk-text-center {
  text-align: center;
}

.uk-text-right {
  text-align: right!important;
}

@media (min-width: 768px) {
  .uk-width-medium-1-3, .uk-width-medium-2-6 {
    width: 33.333%;
  }

  .uk-width-medium-2-3, .uk-width-medium-4-6 {
    width: 66.666%;
  }

  .uk-pull-1-3, .uk-pull-2-6 {
    left: -33.333%;
  }

  [class*=uk-pull-], [class*=uk-push-] {
    position: relative;
  }

  .uk-push-2-3, .uk-push-4-6 {
    left: 66.666%;
  }
}

@media (min-width: 960px) {
  .uk-width-large-1-3, .uk-width-large-2-6 {
    width: 33.333%;
  }
}

@media (min-width: 1220px) {
  .uk-grid > * {
    padding-left: 25px;
  }

  .uk-width-xlarge-1-4 {
    width: 25%;
  }
}