/* Font Families */
$font-awesone: FontAwesome;
$icomoon: icomoon;
$open-sans: opensans, sans-serif;
$open-sans-extrabold: opensans-extrabold, sans-serif;
$open-sans-bold: opensans-bold, sans-serif;
$open-sans-semibold: opensans-semibold, sans-serif;
$opens-sans-light: opensans-light, sans-serif;


//PRIMARY PALETTE
$primary-color1: #FF3591; //magenta
$primary-color2: #00C4F5; //blue
$primary-color3: #BADE29; //green
$primary-color4: #FFCE02; //yellow
$primary-color5: #7852A2; //purple
$primary-color6: #F43A3E; //red

//SECONDARY PALETTE
$secondary-color1: #CE1E72; //magenta hover
$secondary-color2: #0087FF; //blue hover
$secondary-color5: #6133b5; //purple hover
$secondary-color6: #ab2121; //red hover

//GREYSCALE PALETTE
$grayscale-color0: #000000; //black
$grayscale-color1: #4D4D4F; //deep gray
$grayscale-color2: #888888; //gray
$grayscale-color3: #CCCCCC; //light gray
$grayscale-color4: #F0F0F0; //deep white
$grayscale-color5: #FBFBFB; //light white
$grayscale-color6: #FAFAFA; //lighter white
$grayscale-color7: #C8C8C8;
$grayscale-color8: #E3E3E3;
$grayscale-color9: #F4F4F4;
$grayscale-colorF: #FFFFFF; // white